<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyDreamhouse 2.0</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Hauspakete erstellen</a></li>
      <li><a href="#">Hauspakete zuweisen</a></li>
      <li><a href="<%= 'artribut/show' %>">Attributkonfigurator</a></li>
      <li><a href="#">Benutzerrollen</a></li>
      <li><a href="#">Stammdaten</a></li>
      <li><a href="#">Reporting</a></li>
      <li><a href="#">Ebooks</a></li>
    </ul>
  </div>
</nav>