<%
  #Lokal DB2
  #conn = IBM_DB.connect("sample", "admin", "admin")
  conn = $conn


  if params[:add].present? then

    sql1 = "SELECT * FROM HAUSPAKET_ATTRIBUT_WERT WHERE WERT_TEXT = '#{params[:wert1]}'"
    sql2 = "SELECT * FROM HAUSPAKET_ATTRIBUT_WERT WHERE WERT_TEXT = '#{params[:wert2]}'"
    #sql = "INSERT INTO HAUSPAKET_ATTRIBUT_REGEL VALUES (1,#{params[:wert1]},#{params[:wert2]},0," + (params[:new_erlaubt].present? ? '1' : '0') + ",0)"


    puts "Add new Rule"
    begin
      if stmt1 = IBM_DB.exec(conn, sql1)
        irgend = IBM_DB.fetch_assoc(stmt1)
        puts irgend['WERT_ID']
          if stmt2 = IBM_DB.exec(conn, sql2)
          wertt2 = IBM_DB.fetch_assoc(stmt2)
          puts wertt2['WERT_ID']
            addsql = "INSERT INTO HAUSPAKET_ATTRIBUT_REGEL (REGEL_ID, REGEL_ATTRIBUT_LEFT_ID, REGEL_ATTRIBUT_RIGHT_ID, REGEL_PREIS_MODIFIKATOR, REGEL_ERLAUBT, ARCHIVED) VALUES ((select max(REGEL_ID)+1 from hauspaket_attribut_regel),#{ irgend['WERT_ID']},#{ wertt2['WERT_ID']},0.0," + (params[:new_erlaubt].present? ? '1' : '0') + ",'0')"
            if stmt = IBM_DB.exec(conn, addsql)

              puts "first statement"
              if stmt = IBM_DB.exec(conn, 'COMMIT')

                puts "Add new Rule for sure"
              end
          end
        end
      end
     # IBM_DB.free_result(stmt)
      #IBM_DB.free_result(stmt1)
      #IBM_DB.free_result(stmt2)
    end

  elsif params[:change].present? then
    sqlchange = "UPDATE HAUSPAKET_ATTRIBUT_REGEL SET REGEL_ERLAUBT = #{params[:attrregel].present? ? '1' : '0'} WHERE REGEL_ATTRIBUT_LEFT_ID = #{params[:wert1]} AND REGEL_ATTRIBUT_RIGHT_ID = #{params[:wert2]}"

    if stmtupdate = IBM_DB.exec(conn, sqlchange)
      if stmtu = IBM_DB.exec(conn, 'COMMIT')
      end
    end
  elsif params[:del].present? then
    sqldel = "DELETE FROM HAUSPAKET_ATTRIBUT_REGEL WHERE REGEL_ATTRIBUT_LEFT_ID = #{params[:wert1]} AND REGEL_ATTRIBUT_RIGHT_ID = #{params[:wert2]} AND REGEL_ERLAUBT = #{params[:attrregel].present? ? '1' : '0'} "

    if stmtdel = IBM_DB.exec(conn, sqldel)
      if stmtd = IBM_DB.exec(conn, 'COMMIT')
      end
    end
  end
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<form>
  <%= render 'welcome/navigation' %>
</form>
<div class="container" style="margin-left: 10px">
  <h2 style="margin-left: 10px">Attributkonfigurator</h2>

  <form class="form-inline">
    <div class="form-group">

      <%
        if conn
          puts "We're connected!"
          sql = "SELECT * FROM HAUSPAKET_ATTRIBUT_WERT"

          begin
            if stmt = IBM_DB.exec(conn, sql)
            @listbox = '<select class="form-control" id="wert1" name="wert1">'
            @listbox2 = '<select class="form-control" id="wert2"name="wert2">'
              while rowoben = IBM_DB.fetch_assoc(stmt)
                @listbox += "<option>#{rowoben['WERT_TEXT']}</option>"
                @listbox2 += "<option>#{rowoben['WERT_TEXT']}</option>"

               end
               @listbox += "</select>"
               @listbox2 += "</select>"
               end
          end
          #IBM_DB.free_result(stmt)
        end

      %>
      <label style="margin-left: 10px; margin-right: 5px">Atribut </label>
      <%= @listbox.html_safe %>
      <label style="margin-left: 5px; margin-right: 5px">in Kombination mit </label>
      <%= @listbox2.html_safe %>

      <label style="margin-left: 5px; margin-right: 5px">erlaubt? </label>
      <input type="checkbox" name="new_erlaubt">

      <button name="add" value="add" type="submit" class="btn btn-default" style="margin-left: 10px;">Hinzufügen</button>
    </div>
  </form>

  <br/>

  <%

    if conn
      puts "We're connected!"
      sql = "SELECT * FROM HAUSPAKET_ATTRIBUT_REGEL"

      begin
        if stmt = IBM_DB.exec(conn, sql)
          @record = ""
          while row = IBM_DB.fetch_assoc(stmt)
          sql2 = "SELECT * FROM HAUSPAKET_ATTRIBUT_WERT WHERE WERT_ID = #{row['REGEL_ATTRIBUT_LEFT_ID']}"
          sql3 = "SELECT * FROM HAUSPAKET_ATTRIBUT_WERT WHERE WERT_ID = #{row['REGEL_ATTRIBUT_RIGHT_ID']}"
              if stmt2 = IBM_DB.exec(conn, sql2)
                row2 = IBM_DB.fetch_assoc(stmt2)

                if stmt3 = IBM_DB.exec(conn, sql3)
                  row3 = IBM_DB.fetch_assoc(stmt3)
                  @record += '<form>'
                  @record += "<tr>"
                  @record += "<td>#{row2['WERT_TEXT']}</td>"
                  @record += "<td>#{row3['WERT_TEXT']}</td>"
                  @record += '<td><input type="checkbox" name="attrregel"'
                  @record += (row['REGEL_ERLAUBT'] == '1' ? "checked" : "")
                  @record += "></td>"
                  @record += '<td><button name="change" value="change" type="submit" class="btn btn-default">Speichern</button></td>'
                  @record += '<td><button name="del" value="del" type="submit" class="btn btn-default">Löschen</button></td>'
                  @record += "</tr>"
                  @record += '<input type ="hidden" name="wert1" value="'
                  @record += "#{row['REGEL_ATTRIBUT_LEFT_ID']}"
                  @record += '"/>'
                  @record += '<input type ="hidden" name="wert2" value="'
                  @record += "#{row['REGEL_ATTRIBUT_RIGHT_ID']}"
                  @record += '"/>'
                  @record += '</form>'
                end
              end
          end
        end
        #IBM_DB.free_result(stmt)
        #IBM_DB.free_result(stmt2)
       # IBM_DB.free_result(stmt3)
      end
    end
    #format.json render :text => @ebook
    #@ebook.bild.to_json
    #end

    #IBM_DB.free_result(stmt)
    #IBM_DB.free_result(stmt2)
    #IBM_DB.free_result(stmt3)
    # else
    #puts "Statement execution failed: #{IBM_DB.getErrormsg}"
    #end
    IBM_DB.close(conn)
    #else
    #  puts "There was an error in the connection: #{IBM_DB.conn_errormsg}"

  %>

  <table class="table">
    <thead>
    <tr>
      <th>Atribut</th>
      <th>In Kombination mit</th>
      <th>Erlaubt</th>
    </tr>
    </thead>
    <tbody>
    <%= @record.html_safe %>
    </tbody>
  </table>

</div>
</body>
</html>