<div class="container">
  <h2>Downloadstatistik Hauskäufe</h2>
  <p>Diese Statistik zeigt die Anzahl der Hauskäufe im Zeitraum von <strong>01.05.2017</strong> bis <strong>31.5.2017</strong>.</p>
  <table class="table" style="margin-left: -8px;">
    <thead>
    <tr>
      <th>Haus</th>
      <th>Anzahl</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Haus 1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Haus 2</td>
      <td>3</td>
    </tr>
    </tbody>
  </table>

  <label>Es wurden insgesamt 5 Häuser gekauft.</label>
</div>