<form role="form" style="margin-left:40px">
  <h2>Reporting</h2>

  <div class="form-group" >
    <label for="titel">Titel:</label>
    <input type="text" class="form-control" id="titel" name="titel" >
  </div>
  <div class="form-group">
    <label for="beginndatum">Beginndatum:</label>
    <input type="date" class="form-control" id="beginndatum" name="beginndatum">
  </div>
  <div class="form-group">
    <label for="enddatum">Enddatum:</label>
    <input type="date" class="form-control" id="enddatum" name="enddatum">
  </div>
  <div class="form-group">
    <label for="kateg">Kategorie:</label>
    <select class="form-control" id="kateg" name="kateg" style="width: 400px">
      <option value="1">Anzahl der Käufe</option>
      <option value="2">Ebook Downloads</option>
      <option value="3">Beliebteste Hauspakete</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Report generieren</button>
</form>